<%- include('header') -%>
    <!-- by default if you use any tag in the content then it will escape. So for that you'll need the <%- %> syntax -->
    <div id="root">
        <%- content -%>
    </div>

    <hr> <br>

<%- include('footer') -%>

